<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="header :: headerFragment"></div>
<body>
<div class="container text-center">
    <br>
    <br>
    <h2 class="text-center">Search and add your favorite actors</h2>
    <br>

    <div class="text-center">
        <form th:action="@{/actors}">
            <input type="text" name="keyword" id="keyword" size="30" th:value="${keyword}" required/>
            <input class="btn btn-sm btn-primary" type="submit" value="Search"/>
        </form>
    </div>

    <div class="text-center" th:if="${filteredActors == null} and ${keyword != null}">
        <br>
        <p>This actor could not be found. Add your own actor below.</p>
        <form action="#" th:action="@{/actors}" method="post">
            <input type="text" th:value="${name}" size="30" name="name" required id="inputOwnActor">
            <button class="btn btn-sm btn-primary" type="submit">Add</button>
        </form>
    </div>

    <table th:if="${filteredActors != null} and ${keyword != null}" class="table table-striped text-center">
        <thead>
        <th class="text-start" style="font-size: large">Select Your Favorite Actor</th>
        <th>Add to Favorites</th>
        </thead>
        <tbody>

        <tr th:each="a  : ${filteredActors}">
            <td class="text-start"><span th:text="${a.name}"> </span></td>
            <form action="#" th:action="@{/actors}" method="post">
                <input hidden type="text" name="name" th:value="${a.name}">
                <td>
                    <button type="submit" style="color:darkblue; font-size: x-large; background-color: transparent">
                        Add
                    </button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table-responsive text-center" th:if="${not userActors.empty}">
        <thead>
        <tr>
            <th class="text-start" style="font-size: large">Favorite Actors</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userActors.empty}">
            <td colspan="2"> No Actors Available</td>
        </tr>
        <tr th:each="actor : ${userActors}">
            <td class="text-start"><span th:text="${actor.name}"> Title </span></td>
            <td>
                <form th:action="@{/deleteActor}" method="post">
                    <input type="hidden" name="id" th:value="${actor.id}"/>
                    <button style="font-size: small; background-color: black; color: white; font-weight: bold"
                            name="id"
                            type="submit">X
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="footer :: footerFragment"></div>
<script type="text/javascript">
        let inputVal = document.getElementById("keyword");
        document.getElementById("inputOwnActor").value = inputVal.value;
        inputVal.value = "";
</script>
</body>
</html>