<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="header :: headerFragment"></div>
<body>
<div class="container-fluid">
    <br>
    <br>

    <table class="table table-striped table-responsive text-center" id="countriesTable">
        <div class="text-center">
            <form th:action="@{/countries}">
                <input type="text" name="keyword" id="keyword" size="30" th:value="${keyword}"
                       required/>
                &nbsp;
                <input type="submit" value="Search"/>
                &nbsp;
            </form>
        </div>
    </table>

    <table th:if="${filteredCountries != null} and ${keyword != null} and !${filteredCountries.empty}" class="table table-striped text-center">
        <thead>
        <th class="text-start" style="font-size: large">Select Your Favorite Country</th>
        <th>Add to Favorites</th>
        </thead>
        <tbody>
        <tr th:if="${filteredCountries} != empty" th:each="c : ${filteredCountries}">
            <td class="text-start"><span th:text="${c.name}"> </span></td>
            <form action="#" th:action="@{/countries}" method="post">
                <input hidden type="text" name="name" th:value="${c.name}">
                <td>
                    <button type="submit" style="color:darkblue; font-size: x-large; background-color: transparent">
                        Add
                    </button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table-responsive text-center">
        <thead>
        <tr>
            <th class="text-start" style="font-size: large">Favorite Countries</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userCountries.empty}">
            <td colspan="2"> No Countries Available</td>
        </tr>
        <tr th:each="country : ${userCountries}">
            <td class="text-start"><span th:text="${country.name}"> Title </span></td>
            <td>
                <form th:action="@{/deleteCountry}" method="post">
                    <input type="hidden" name="id" th:value="${country.id}"/>
                    <button style="font-size: small; background-color: black; color: white; font-weight: bold"
                            name="id"
                            type="submit">X
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="footer :: footerFragment"></div>
</body>
</html>