<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="header :: headerFragment"></div>
<body>


<div class="container-fluid text-center">


  <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

    <div th:if="${param.error}">
      <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
    </div>

    <div th:if="${param.logout}">
      <p class="text-warning">You have been logged out.</p>
    </div>

    <h1>Login</h1>
    <br>
    <div class="border border-secondary p-3 rounded">

      <p>
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
      </p>
      <p>
        <input type="submit" value="Login" class="btn btn-primary" />
      </p>
    </div>
  </form>
  <br>
  <br>
  <h4>Click <a th:href="@{/register}">here</a> to Sign Up</h4>
  <div th:include="footer :: footerFragment"></div>
</div>
</body>
</html>