<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="header :: headerFragment"></div>
<body>
<div class="container text-center">
    <div>
        <h1>Favorites App - Sign Up</h1>
    </div>
    <form th:action="@{/process_register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <div class="text-center">
                    <label for="email">Email: </label><input placeholder="Email" id="email" type="email" th:field="*{email}" class="form-control" required/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="text-center">
                    <label for="username">Username: </label><input id="username" placeholder="Username" type="text" th:field="*{name}" class="form-control" required/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="text-center">
                    <label for="password">Password: </label><input placeholder="Password" type="password" th:field="*{password}" class="form-control"
                           required minlength="5" maxlength="20" id="password" oninput="checkPasswords()"/>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="text-center">
                    <label for="confirm">Confirm password: </label><input id="confirm" placeholder="Confirm Password" type="password" class="form-control"
                           required minlength="5" maxlength="20" oninput="checkPasswords()"/>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button  type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <br>
    <div class="text-center">
        <a th:href="@{/login}">Go to login page</a>
    </div>
</div>
<div th:include="footer :: footerFragment"></div>
<script src="js/main.js"></script>
</body>
</html>